body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white; /* Fundo branco */
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #757575; /* Cinza médio */
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: #616161; /* Cinza escuro ao passar o mouse */
    transform: scale(1.05);
}
